/* google custom font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* global css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary_color: #000d83;
  --secondary_color: #0bb4ff;
  --background_color: #e7efff;
  --body_background_color: #e5e5e5;
  --heading_font_size: 2.5rem;
  --sub_heading_font-size: 1.125rem;
  --pragraph-text-color: #040931b5;
}

/* header section start */

body {
  background-color: #e5e5e5;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background_color);
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  color: var(--secondary_color);
  z-index: 10;
}
header > * {
  max-width: 1440px;
  margin: auto;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}
nav ul li a {
  color: var(--primary_color);
  margin-right: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--secondary_color);
}
.menu-btn .singinbutton {
  padding-right: 2.5rem;
}
.singinbutton {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--primary_color);
  cursor: pointer;
}
.singupbutton {
  border: 1px solid #000d83d7;
  background-color: transparent;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
}
.Watch-Video-button {
  border: 1px solid #000d83d7;
  background-color: transparent;
  padding: 17px 35px;
  border-radius: 12px;
}

.Get-Started-button {
  background-color: transparent;
  font-size: 1rem;
  color: var(--primary_color);
  border: none;
  padding: 17px 35px;
  border-radius: 12px;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* header section end */

.hero_section {
  background-color: var(--background_color);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 15px;
}

/* .hero-text {
  width: 100%;
} */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
.sub_heading {
  color: var(--secondary_color);
  font-size: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}
.heading {
  color: var(--primary_color);
  font-size: var(--heading_font_size);
  /* width: 60%; */
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  line-height: 72px;
}
.pragraph-text {
  color: var(--pragraph-text-color);
  margin-bottom: 2rem;
  width: 60%;
  line-height: 2rem;
  font-size: 1rem;
}
.hero-btn {
  margin-bottom: 3rem;
}
.hero-btn a {
  margin-right: 1rem;
}
.Get-Started-button {
  background-color: var(--primary_color);
  color: #e7efff;
  transition: background-color 0.3s ease;
}
.Watch-Video-button {
  color: var(--primary_color);
  transition: background-color 0.4s ease;
}
.Get-Started-button:hover,
.Watch-Video-button:hover {
  background: var(--secondary_color);
  color: #ffff;
  cursor: pointer;
  border: none;
}
.hero-img {
  width: 50%;
}
.hero-banner-img img {
  width: 100%;
}
/* avater  */
.avater-star {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.avater-group {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.avater {
  position: relative;
  margin-left: -15px;
}
.avater-img img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffff;
}
.placeholder .avater-counter {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  background-color: #333;
  color: #ffff;
  border: 1px solid #ffff;
  position: relative;
  margin-left: -15px;
}

/* aboute section */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 2rem;
}
.aboute-info {
  width: 50%;
}
.aboute-image {
  width: 50%;
}
.aboute-info {
  margin-left: 2rem;
}
.aboute-info h2 {
  width: 90%;
  letter-spacing: normal;
}

.aboute-info,
.sub_heading {
  margin-bottom: 10px;
}
.aboute-info p {
  width: 90%;
}
.why-us {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.why-us-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 8px;
  max-width: 80%;
  transition: all 0.3s ease-in;
}
.why-us-box:hover {
  transform: translatex(-20px);
  cursor: pointer;
}
.icon-text {
  display: flex;
  gap: 1rem;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 48px;
  height: 48px;
  display: flex;
  background-color: #edfaff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 24px;
  height: 24px;
}

/* school section  */
.school-section {
  display: flex;
}

/* study section */
.study-section {
  text-align: center;
}
.study-info {
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 50px;
}
.card-info {
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.card-info:hover {
  transform: translatey(-10px);
}
.course-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.course-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}
.student-count {
  font-size: 1rem;
  margin-bottom: 8px;
  color: var(--pragraph-text-color);
}
.star-rating {
  color: #f8b400;
  font-size: 12px;
}

/* newsletter section */
.Newsletter {
  position: relative;
  height: 450px;
  background-image: url(../images/news-letter.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.Newsletter .overlay {
  background-color: #000d83d7;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
}

.Newsletter .contant {
  text-align: center;
  color: #ffff;
}
.Newsletter h2 {
  font-size: 2.5rem;
  color: #ffff;
  margin-bottom: 20px;
}
.Newsletter p {
  color: #ffff;
  margin-bottom: 30px;
}
.Newsletter .Subscribe-btn {
  background-color: var(--secondary_color);
  border: none;
  padding: 17px 35px;
  border-radius: 12px;
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.4s ease;
}
.Newsletter .Subscribe-btn:hover {
  background-color: #ffff;
  color: black;
}

/* footer section */
.footer-contant ul li a {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: var(--pragraph-text-color);
}
.footerbg {
  background-color: var(--background_color);
  color: var(--pragraph-text-color);
  padding: 10px;
}
.footer {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 50px 20px;
  gap: 2rem;
}
.footer-contant .logo img {
  max-width: 200px;
  margin-bottom: 28px;
  cursor: pointer;
}
.footer-contant p {
  margin-bottom: 28px;
}
.footer-contant .social-logo a {
  width: 40px;
  height: 40px;
  color: var(--primary_color);
  background-color: var(--secondary_color);
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  display: inline-flex;
  transition: all 0.3s ease;
}
.footer-contant .social-logo a:hover {
  background-color: var(--pragraph-text-color);
  transform: translateY(-15px);
}
.footer-contant h3 {
  padding-bottom: 24px;
  color: var(--pragraph-text-color);
}
.footer-contant ul li a {
  margin-bottom: 1rem;
}
